@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  --font-platypi: var(--font-platypi);
  --font-zillaSlab: var(--font-zillaSlab);
}
